@font-face {
    font-family: segoe;
    src: url(fonts/SegoeUIVF.ttf);
}

body {
    background-image: url(images/windows-11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    margin: 0;
    position: relative;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#desktop {
    background-color: transparent;
}

#loading {
    color: white;
    font-family: segoe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading img {
    height: 100px;
    width: 100px;
}

#loading h2 {
    margin: 0;
}

#lockscreen {
    color: white;
    font-family: segoe;
    text-align: center;
    padding-top: 175px;
}

#lockscreen h1 {
    font-size: 80px;
}

#lockscreen h3 {
    font-size: 20px;
    font-weight: 600;
}

#lockscreen h1, #lockscreen h3 {
    margin: 0;
}

#log-in {
    text-align: center;
    font-family: segoe;
}

#log-in a {
    color: white;
}

#log-in h2 {
    color: white;
    margin: 5px 0px;
    font-size: 22px;
}

#log-in p {
    color: white;
}

#log-in #pwd {
    width: 250px;
    height: 25px;
    background-color: rgba(8, 52, 245, 0.2);
    border: none;
    border-bottom: 3px solid gray;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
}

#log-in #pwd:focus {
    outline: none;
}

#profile-pic {
    background-color: lightgray;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#profile-pic img {
    height: 60%;
    width: 60%;
    object-fit: cover;
}