:root {
    --heading-font: 'Arial', serif;
    --body-font: 'Arial', sans-serif;
    --heading-color: #333333;
    --body-color: #555555;
}
body {
    margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 0.5em;
}
article {
    font-family: var(--body-font);
    color: var(--body-color);
    line-height: 1.6;
    margin: 0;
}
#content {
    padding: 0 35px;
}

header {
    color: white;
    background-color: #ca2c2c;
    display: flex;
    padding: 10px 35px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

}
#aftonblaskan {
    width: 180px;
}

#author {
    display: flex;
    align-items: center;
    gap: 10px;
}
#authorPic {
    width: 60px;
}
#picOlivia {
    width: 40%;
}
#picInfo {
    margin:0;
    font-style: italic;
    
}
footer {
    padding: 10px;
    background-color: #ca2c2c;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Dynamiska kolumner */
}
footer p {
    color: white;
    font-size: 12px;
}
span {
    font-family: monospace;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Justera för att centrera exakt */
    background-color: lightgrey;
    padding: 25px;
    text-align: left;
    width: 330px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Valfri skugga */
    border-radius: 10px; /* Valfri rundning av hörn */
    text-align: center;


}
span h2 {
    margin: 0;
}
span button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: monospace;

}
.importantMess {
    color: red;
}
a {
    color: red;
    font-size: 18px;
}
.goToV {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}
.goTo {
    font-weight: bold;
    font-size: 11px;
}

